.about {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 5vh;
    &-content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        &-top,
        &-bottom {
            display: grid;
            height: 100%;
            grid-template-columns: 1fr 1fr;
            @include ipadProLandScape {
                height: 100vh;
            }
            @include mobilePortrait {
                height: 100vh;
            }
        }
        &-top {
            @include ipadProLandScape {
                grid-template-columns: 50% 50%;
            }
            @include mobilePortrait {
                grid-template-columns: 1fr;
                grid-template-rows: 60% 40%;
            }
            &-left {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &-image {
                    position: relative;
                    width: 45%;
                    height: 90%;
                    @media screen and (max-width: 1805px) and (min-width: 1378px) {
                        width: 45%;
                        height: 85%;
                    }
                    @include ipadProLandScape {
                        width: 80%;
                        height: 60%;
                    }
                    @include mobilePortrait {
                        width: 90%;
                        height: 70%;
                    }
                    @include ipadProPortrait {
                        width: 80%;
                        height: 70%;
                    }
                    @include ipadPortrait {
                        width: 80%;
                        height: 70%;
                    }
                    @include mobileLandScape {
                        width: 80%;
                        height: 80%;
                    }
                    img {
                        object-fit: cover;
                        border-radius: 70%;
                    }
                }
            }
            &-right {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                &-title {
                    width: 55%;
                    margin-top: auto;
                    display: grid;
                    grid-template-rows: 1fr 3fr;
                    & > h1 {
                        font-size: 2.5rem;
                        font-family: $font--primary;
                    }
                    & > h2 {
                        margin-top: auto;
                        font-size: 1.3rem;
                        font-family: $font--primary;
                        margin-bottom: auto;
                    }
                    @media screen and (max-width: 1805px) and (min-width: 1378px) {
                        grid-template-rows: 1fr 2fr;
                        width: 100%;
                        & > h1 {
                            font-size: 3rem;
                        }
                        & > h2 {
                            font-size: 1.8rem;
                        }
                    }
                    @include ipadProLandScape {
                        width: 100%;
                        & > h2 {
                            font-size: 1.6rem;
                        }
                    }
                    @include ipadLandScape {
                        & > h1 {
                            font-size: 5rem;
                        }
                        & > h2 {
                            font-size: 3rem;
                        }
                    }
                    @include ipadProPortrait {
                        width: 100%;
                        & > h1 {
                            font-size: 2.22rem;
                        }
                        & > h2 {
                            font-size: 1.32rem;
                        }
                    }
                    @include ipadPortrait {
                        width: 100%;
                        & > h1 {
                            font-size: 4.5rem;
                        }
                        & > h2 {
                            font-size: 2.5rem;
                        }
                    }
                    @include mobileLandScape {
                        width: 100%;
                        & > h1 {
                            font-size: 3.7rem;
                        }
                        & > h2 {
                            font-size: 2.3rem;
                        }
                    }
                }
                &-text {
                    width: 50%;
                    margin-bottom: auto;
                    & > p {
                        font-size: 1.2rem;
                        font-family: $font--primary;
                    }
                    @media screen and (max-width: 1805px) and (min-width: 1378px) {
                        width: 90%;
                        & > p {
                            font-size: 1.28rem;
                        }
                    }
                    @include ipadProLandScape {
                        width: 85%;
                        & > p {
                            font-size: 1.27rem;
                        }
                    }
                    @include ipadLandScape {
                        width: 90%;
                        & > p {
                            font-size: 2.5rem;
                        }
                    }
                    @include ipadProPortrait {
                        width: 87%;
                        & > p {
                            font-size: 1.2rem;
                        }
                    }
                    @include ipadPortrait {
                        width: 86%;
                        & > p {
                            font-size: 2.56rem;
                        }
                    }
                    @include mobileLandScape {
                        width: 90%;
                        & > p {
                            font-size: 1.82rem;
                        }
                    }
                }
                @include mobilePortrait {
                    align-items: center;
                    &-title {
                        width: 80%;
                        margin: 0;
                        & > h1 {
                            font-size: 7rem;
                        }
                        & > h2 {
                            font-size: 4.5rem;
                        }
                    }
                    &-text {
                        width: 80%;
                        & > p {
                            font-size: 4.4rem;
                        }
                    }
                }
            }
        }
        &-bottom {
        }
    }
}
