.about {
    padding-top: 5vh;
    width: 100vw;
    height: 100vh;
    background: #ffffe1;
    &-content {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        &-top {
            width: 100%;
            height: 100%;
            &-left {
                position: relative;
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 10;
                &-image {
                    position: relative;
                    height: 90%;
                    width: 90%;
                    overflow: hidden;
                    border-radius: 45%;
                }
            }
            &-right {
                position: relative;
                width: 100%;
                height: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                &-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 1rem;
                    font-family: $font--primary;
                    width: 93%;
                    & h1 {
                        font-size: 1.65em;
                        color: rgb(0, 0, 0);
                    }
                    & h2 {
                        font-size: 1em;
                        color: rgb(0, 0, 0);
                    }
                    & p {
                        font-size: 0.9em;
                        text-align: center;
                        color: rgb(0, 0, 0);
                        font-weight: 600;
                    }
                    @media screen and (min-width: 768px) and (orientation: portrait) {
                        font-size: 1.5rem;
                    }
                    @media screen and (min-width: 1024px) and (orientation: portrait) {
                        font-size: 2rem;
                    }
                }
            }
            .contact-info {
                display: flex;
                width: 100%;
                // height: 15%;
                align-items: center;
                justify-content: center;
                gap: 1.2rem;
                & > div {
                    position: relative;
                    width: 3em;
                    height: 3em;
                }
                @media screen and (min-width: 768px) and (orientation: portrait) {
                    font-size: 1.5rem;
                }
            }
        }
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            height: 5%;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
            background: #ffd400;
        }
        @media screen and (orientation: portrait) and (max-height: 568px) {
            &-top {
                &-left {
                    height: 40%;
                    &-image {
                        height: 100%;
                        width: 100%;
                    }
                }
                &-right {
                    height: 40%;
                    &-content {
                        font-size: 0.8rem;
                    }
                }
                .contact-info {
                    height: 10%;
                }
            }
        }
        @media screen and (orientation: landscape) and (min-width: 1401px) {
            &-top {
                display: grid;
                grid-template-columns: 13% 30% 60%;
                &::before {
                    content: "";
                }
                &-left {
                    width: 100%;
                    height: 100%;
                    &-image {
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0%;
                            left: -10%;
                            right: -10%;
                            bottom: -10%;
                            background: #ffe565;
                            transform: rotateZ(60deg);
                            border-radius: 50%;
                            @media screen and (min-width: 1690px) {
                                top: -10%;
                                left: 0;
                                right: -5%;
                                bottom: -20%;
                                border-radius: 50%;
                            }
                        }
                        width: 100%;
                        height: 70%;
                        overflow: visible;
                        span {
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                }
                &-right {
                    width: 100%;
                    height: 100%;
                    &-content {
                        width: 65%;
                        font-size: 1.4rem;
                        @media screen and (min-width: 1690px) {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
        @media screen and (orientation: landscape) and (max-width: 1400px) {
            &-top {
                display: grid;
                grid-template-columns: 13% 30% 60%;
                &::before {
                    content: "";
                }
                &-left {
                    width: 100%;
                    height: 100%;
                    &-image {
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0%;
                            left: -10%;
                            right: -10%;
                            bottom: -10%;
                            background: #ffe565;
                            transform: rotateZ(60deg);
                            border-radius: 50%;
                        }
                        width: 100%;
                        height: 70%;
                        overflow: visible;
                        span {
                            border-radius: 50%;
                            @media screen and (max-width: 1400px) and (min-width: 1000px) {
                                border-radius: 40%;
                            }
                            overflow: hidden;
                        }
                    }
                }
                &-right {
                    width: 100%;
                    height: 100%;
                    &-content {
                        width: 65%;
                        font-size: 0.8rem;
                        @media screen and (max-width: 1400px) and (min-width: 1301px) {
                            font-size: 1.3rem;
                        }
                        @media screen and (max-width: 1300px) and (min-width: 1000px) {
                            font-size: 1rem;
                        }
                        @media screen and (max-width: 680px) {
                            font-size: 0.7rem;
                        }
                        @media screen and (max-width: 580px) {
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
    }
}
