.about {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 5vh;
    &-content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        &-top,
        &-bottom {
            display: grid;
            height: 100%;
            grid-template-columns: 1fr 1fr;
        }
        &-top {
            @include mobile {
                grid-template-columns: 1fr;
                grid-template-rows: 75% 25%;
            }
            &-left {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &-image {
                    position: relative;
                    width: 40%;
                    height: 90%;
                    @include ipadPro {
                        width: 50%;
                        height: 75%;
                    }
                    @include ipad {
                        width: 70%;
                        height: 70%;
                    }
                    @include mobile {
                        width: 55%;
                        height: 80%;
                    }
                    img {
                        object-fit: cover;
                        border-radius: 70%;
                    }
                }
            }
            &-right {
            }
        }
        &-bottom {
        }
    }
}
