.home {
    background: url("../public/img/home-bg.jpg");
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    & > .section {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        & > .title {
            font-size: 1.8rem;
            font-family: $font--cursive;
            font-weight: 1000;
            color: $color--light--blue;
        }
        & > .description {
            font-size: 1rem;
            font-family: $font--primary;
            color: $color--light--blue;
            font-weight: 500;
        }
        & > button {
            font-size: 0.9rem;
            font-family: $font--primary;
            color: $color--light--blue;
            border: 0.2rem solid $color--light--blue;
            padding: 0.2rem 0.5rem;
            transition: 0.5s ease-in;
            &:hover {
                cursor: pointer;
                color: $color--bright--blue;
                border-color: $color--bright--blue;
            }
        }
        @include wideScreen {
            & > .title {
                font-size: 4rem;
            }
            & > .description {
                font-size: 2.2rem;
            }
            & > button {
                font-size: 2rem;
                border-width: 0.4rem;
                padding: 0.3rem 1rem;
            }
        }
    }
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }
}
