@mixin ipadPro {
    @media screen and (max-width: 1366px) {
        @content;
    }
}

@mixin ipad {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 415px) {
        @content;
    }
}
