.navbar {
    width: 100vw;
    height: 5vh;
    @media screen and (orientation: landscape) and (max-width: 1400px) {
        height: 10vh;
    }
    position: fixed;
    background: #ffd400;
    z-index: 999;
    &__menu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-inline: 0.9rem;
        &__list {
            margin-inline: auto;
            color: black;
            font-weight: bold;
            font-family: $font--primary;
            font-size: 0.95rem;
            @include wideScreen {
                font-size: 1.5rem;
            }
            @media screen and (min-width: 1024px) and (orientation: portrait) {
                font-size: 2rem;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    transition: 0.6s ease;
}

.active {
    color: #5008ff;
    font-weight: 800;
}
