.navbar {
    width: 100vw;
    height: 5vh;
    position: fixed;
    background: #dbae30;
    z-index: 999;
    &__menu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-inline: 0.9rem;
        &__list {
            margin-inline: auto;
            color: black;
            font-weight: bold;
            font-family: $font--primary;
            font-size: 0.95rem;
            @include wideScreen {
                font-size: 1.5rem;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    transition: 0.6s ease;
}

.active {
    color: #b50b0b;
    font-weight: 800;
}
