.navbar {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgba($color--secondary--dark, 1);
    transition: ease-in-out 1s;
    height: 5vh;
    &__menu {
        display: flex;
        justify-content: center;
        margin-inline: auto;
        color: $color--primary;
        font-family: $font--primary;
        font-size: calc(max(1.5rem, 12px));
        @include ipadPortrait {
            font-size: 3rem;
        }
        @include ipadLandScape {
            font-size: 16px;
        }
        @include mobilePortrait {
            font-size: 12px;
        }
        &--list {
            @extend %align-center;
            justify-content: center;
            padding: calc(max(0.5rem, 5px)) calc(max(3rem, 20px));
            @include ipadLandScape {
                padding-inline: 50px;
            }
            @include mobilePortrait {
                padding-inline: 20px;
            }
            cursor: pointer;
        }
        .active {
            background: rgba($color--secondary--light, 1);
            font-weight: 700;
        }
    }
}
