*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

@import "fonts";
@import "colors";
@import "_media-queries";

button,
a,
li,
ul {
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@import "nav";
@import "home";
@import "about";

@include narrowScreen {
    html {
        font-size: 12px;
    }
}
